{% extends 'web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<div class="container-fluid">


  <form method="POST"> {% csrf_token %}

    
    <div class="card rounded" style="padding: 1.5rem;">   

    <div class="mb-3"><h3>Dados do paciente</h3>
      <div class="form-row">
        <div class="col-4">
          <select id="issuerSelect" class="form-control" data-url="{% url 'get-issuers' %}"></select>
      </div>
      
      <div class="col-8">
          <select id="patientSelect" class="form-control d-none" data-url="{% url 'get-patients' issuer_id=0 %}"></select>   
      </div>
      </div>
    </div>
    
    
    <div><h3>Dados do processo</h3>

    <div class="form-row">
        <div class="col-sm-2"> {{ form.first_date|as_crispy_field }} </div>
    </div>

    <div class="form-row">
        <div class="col-1">{{ form.icd|as_crispy_field }}</div>
        <div class="col-11">{{ form.diagnosis|as_crispy_field }}</div>
    </div>

    <div class="form-row">
            <div class="col-12">{{ form.anamnesis|as_crispy_field }}</div>
    </div>

    <div class="form-row">
            <div class="col-3" id="previous_treatment_selection">{{ form.previous_treatment|as_crispy_field }}</div>
            <div class="col-9 d-none" id="previous_treatments_description">{{ form.previous_treatment_description|as_crispy_field }}</div>
    </div>

    <div class="form-row">
            <div class="col-3" id="drug_01">{{ form.drug_01|as_crispy_field }}</div>
            <div class="col-6" id="posology_drug_01_month_01">{{ form.posology_drug_01_month_01|as_crispy_field }}</div>
            <div class="col-3" id="qty_drug_01_month_01">{{ form.qty_drug_01_month_01|as_crispy_field }}</div>

    </div>

    <div class="form-row">
        <div class="col-md-2"> {{ form.filled_by|as_crispy_field }}</div>
        
   </div>

    <div class="form-row">
            <button class="btn btn-outline-info" type="submit">Cadastrar</button>
        </div>
    </div>
    
  </div>

  </form>
</div>


{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha256-Kg2zTcFO9LXOc7IwcBx1YeUBJmekycsnTsq2RuFHSZU=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'web/js/issuersQuery.js' %}"></script>
{% endblock %}